<!DOCTYPE html>
<html>
<body>
	<a href="/">Home</a>
	<a href="/users">Users</a>	
	<h1>Find user by name</h1>
	<form method="POST" action="/users">
		<input type="input" name="filter" />
		<input type="submit" name="Filter" />
	</form
</body>